<!DOCTYPE html>
    <html>
    <head>
	  <link href="static/bootstrap.min.css" rel="stylesheet">
	  <link href="static/loc.css" rel="stylesheet">
	  <script type="text/javascript" src="static/jquery.min.js"></script>
	  <script type="text/javascript" src="static/bootstrap.min.js"></script>
	  <script type="text/javascript" src="static/OpenLayers.js"></script>
	  <title>Where's Hasan Diwan?</title>
    </head>
    <body>
		<h1 class="small">Where's Hasan, as of {{time}} ago?</h1>
		<div class="container-fluid">
		  <div class="row clearfix">
			<div class="col-md-3">
			</div>
			<div id="map" class="col-md-6 centered">
			</div>
			<div class="col-md-3">
			</div>
			<script>var overlay = new OpenLayers.Layer.Vector('Overlay', {styleMap: new OpenLayers.StyleMap({externalGraphic: 'static/RedX4.png', graphicWidth: 20, graphicHeight: 24, graphicYOffset: -24, title: '' })});var myLocation = new OpenLayers.Geometry.Point({{ longitude }}, {{ latitude }}) .transform('EPSG:4326', 'EPSG:3857');overlay.addFeatures([ new OpenLayers.Feature.Vector(myLocation, {tooltip: 'OpenLayers'}) ]);var popup = new OpenLayers.Popup.FramedCloud("Popup", myLocation.getBounds().getCenterLonLat(), null, 'I was here!', null, false );map = new OpenLayers.Map({ div: "map", projection: "EPSG:3857", layers: [new OpenLayers.Layer.OSM(), overlay], center: myLocation.getBounds().getCenterLonLat(), zoom: 15 });map.addPopup(popup);
			</script>
		  </div>
		  <div class="footer">
			The red X marks the spot!
		  </div>
		  <div class="row">
			<a href="http://chrome.google.com"><img class="thanks" src="http://imgur.com/XdwZC.png" alt=""></a><a href="http://www.python.org"><img class="thanks" src="http://www.pixelstech.net/article/images/Python.png" alt=""></a><a href="http://tasker.dinglisch.net"><img class="thanks" src="http://tasker.dinglisch.net/icon_tasker.png" alt=""></a><img src="http://www.campbell-tx.net/Images/MadeOnMac.png" alt="" class="thanks"/>
		  </div>
		</div>
    </body>
</html>
